@model User;
@{
    ViewData["Title"] = "User Info Page";
    string url = "../" + @Model.AvatarUrl;
}


<div class="infoContainer"> 
    <img src="@url" alt="User Logo" class="logo">
    <div class="profile-details">
        <p>FirstName: @Model.FirstName</p>
        <p>LastName: @Model.LastName</p>
        <p>Email: @Model.Email </p> 
    </div>
</div>

<style>
    .infoContainer {
        width: 80%;
        margin: auto;
        background-color: #fff;
        padding: 25px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        margin-top: 50px;
        display: flex;
    }

    .logo {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 20px;
    }

    .profile-details {
        margin-left: 30px;
        flex-grow: 1;
        padding-right: 20px;
    }

    .profile-details h2 {
        margin-top: 0;
        color: #343a40;
    }

    .profile-details p {
        margin: 5px 0;
        color: #6c757d;
    }

    .accent-color {
        color: #88ff00;
    }
</style>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}