@model DoctorViewModel
@{
    ViewData["Title"] = "Create Doctor Page";
}

<form asp-route="CreateDoctorApi" method="post">
    <div>
        <label asp-for="Doctor.FirstName">First Name:</label>
        <input asp-for="Doctor.FirstName" type="text" />
        <span class="text-danger" asp-validation-for="Doctor.FirstName"></span>
    </div>
    <div>
        <label asp-for="Doctor.LastName">Last Name:</label>
        <input asp-for="Doctor.LastName" type="text" />
        <span class="text-danger" asp-validation-for="Doctor.LastName"></span>
    </div>
    <div>
        <label asp-for="Doctor.DateOfBirth">Date of Birth:</label>
        <input asp-for="Doctor.DateOfBirth" type="date" />
        <span class="text-danger" asp-validation-for="Doctor.DateOfBirth"></span>
    </div>
    <div>
        <label asp-for="Doctor.Gender">Gender:</label>
        <select asp-for="Doctor.Gender" class="form-select">
            <option value="">Select Gender</option>
            @foreach (var gender in Enum.GetValues(typeof(Gender)))
            {
                <option value="@gender">@gender</option>
            }
        </select>
        <span class="text-danger" asp-validation-for="Doctor.Gender"></span>
    </div>
    <div>
        <label asp-for="Doctor.Email">Email:</label>
        <input asp-for="Doctor.Email" type="email" />
        <span class="text-danger" asp-validation-for="Doctor.Email"></span>
    </div>
    <div>
        <label asp-for="Doctor.PhoneNumber">Phone Number:</label>
        <input asp-for="Doctor.PhoneNumber" type="tel" />
        <span class="text-danger" asp-validation-for="Doctor.PhoneNumber"></span>
    </div>
    <div>
        <label asp-for="Doctor.DepartmentId">Department:</label>
        <select asp-for="Doctor.DepartmentId" class="form-select">
            <option value="">Select Department</option>
            @foreach (var department in Model.Departments)
            {
                <option value="@department.Id">@department.Name</option>
            }
        </select>
        <span class="text-danger" asp-validation-for="Doctor.DepartmentId"></span>
    </div>
    <div>
        <label asp-for="Doctor.SpecializationId">Specialization:</label>
        <select asp-for="Doctor.SpecializationId" class="form-select">
            <option value="">Select Specialization</option>
            @foreach (var specialization in Model.Specializations)
            {
                <option value="@specialization.Id">@specialization.Name</option>
            }
        </select>
        <span class="text-danger" asp-validation-for="Doctor.SpecializationId"></span>
    </div>

    <button type="submit" class="btn btn-success">Add Doctor</button>
</form>
 
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
