@model DoctorViewModel
@{
    ViewData["Title"] = "Create Doctor Page";
}

<form asp-route="CreateDoctorApi" method="post">
    <div>
        <label asp-for="Doctor.FirstName">First Name:</label>
        <input asp-for="Doctor.FirstName" type="text" />
        <span class="text-danger" asp-validation-for="Doctor.FirstName"></span>
    </div>
    <div>
        <label asp-for="Doctor.LastName">Last Name:</label>
        <input asp-for="Doctor.LastName" type="text" />
        <span class="text-danger" asp-validation-for="Doctor.LastName"></span>
    </div>
    <div>
        <label asp-for="Doctor.DateOfBirth">Date of Birth:</label>
        <input asp-for="Doctor.DateOfBirth" type="date" />
        <span class="text-danger" asp-validation-for="Doctor.DateOfBirth"></span>
    </div>
    <div>
        <label asp-for="Doctor.Gender">Gender:</label>
        <select asp-for="Doctor.Gender">
            <option value="">Select Gender</option>

            @foreach (Gender gender in Enum.GetValues(typeof(Gender)))
            {
                <option value="@gender">@gender</option>
            }
        </select>
        <span class="text-danger" asp-validation-for="Doctor.Gender"></span>
    </div>
    <div>
        <label asp-for="Doctor.Email">Email:</label>
        <input asp-for="Doctor.Email" type="email" />
        <span class="text-danger" asp-validation-for="Doctor.Email"></span>
    </div>
    <div>
        <label asp-for="Doctor.PhoneNumber">Phone Number:</label>
        <input asp-for="Doctor.PhoneNumber" type="tel" />
        <br />
        <span class="text-danger" asp-validation-for="Doctor.PhoneNumber"></span>
    </div>
    <div>
        <label asp-for="Doctor.DepartmentId">Department:</label>
        <select asp-for="Doctor.DepartmentId">
            <option value="">Select Department</option>

            @foreach (Department department in Model.Departments)
            {
                <option value="@department.Id">@department.Name</option>
            }
        </select>
        <span class="text-danger" asp-validation-for="Doctor.DepartmentId"></span>
    </div>
    <div>
        <label asp-for="Doctor.SpecializationId">Department:</label>
        <select asp-for="Doctor.SpecializationId">
            <option value="">Select Department</option>

            @foreach (Specialization specialization in Model.Specializations)
            {
                <option value="@specialization.Id">@specialization.Name</option>
            }
        </select>
        <span class="text-danger" asp-validation-for="Doctor.SpecializationId"></span>
    </div>

    <button type="submit">Add Doctor</button>
</form>

<style>
    h1 {
        color: #333;
    }

    form {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

    form div {
        margin-bottom: 15px;
    }

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    input[type="text"],
    input[type="date"],
    input[type="email"],
    select,
    textarea {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    button {
        background-color: #5cb85c;
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 4px;
        cursor: pointer;
    }

    button:hover {
        background-color: #4cae4c;
    }
</style>


@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}