@model Patient;
@{
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
    ViewData["Title"] = "Patient Info Page";
    var url = "/" + Model.AvatarUrl;
}
@functions
{
    public string GetDefaultAvatarUrl(string gender)
    {
        if (gender == nameof(Gender.Male))
        {
            return "images/anonymous-man.png";
        }
        else if (gender == nameof(Gender.Female))
        {
            return "images/anonymous-woman.png";
        }
        else
        {
            return "images/anonymous.png";
        }
    }
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <img src="/@(Model.AvatarUrl ?? GetDefaultAvatarUrl(Model.Gender))" class="img-fluid rounded-circle"
                alt="Patient Avatar">
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-3">@Model.FirstName @Model.LastName</h5>
                    <p class="card-text"> <strong>Gender:</strong> @Model.Gender </p>
                    <p class="card-text"> <strong>Date of Birth:</strong> @Model.DateOfBirth.ToString("dd.MM.yyyy") </p>
                    <p class="card-text"> <strong>Phone Number:</strong> @Model.PhoneNumber </p>
                    <p class="card-text"> <strong>Address:</strong> @Model.Address </p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<style>
    .card-title {
        margin-bottom: 0.5rem;
        color: #343a40;
    }

    .card-text {
        color: #6c757d;
    }
</style>
